@charset "UTF-8";

:root {
	/* Цвета */
	--color-white: #000;
	--color-text: #fff;
	--color-black: #000;
	--color-border: #363129;
	--color-gray: #c5c5c5;
	--color-green: #f9b242;
	--color-green-hover: #d98d15;
	--color-brown: #3daa45;
	--color-brown-hover: #1c9025;
	--transition-normal: all 0.3s ease 0s;
}

* {
	padding: 0;
	margin: 0;
	border: 0
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

:active,
:focus {
	outline: 0
}

a:active,
a:focus {
	outline: 0
}

aside,
footer,
header,
nav {
	display: block
}

body,
html {
	height: 100%;
	width: 100%;
	min-width: 320px
}

button,
input,
textarea {
	font-family: inherit
}

input::-ms-clear {
	display: none
}

button {
	cursor: pointer
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

a,
a:visited {
	text-decoration: none
}

a:hover {
	text-decoration: none;
	cursor: pointer
}

img {
	vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0
}

ol,
ul {
	padding-left: 19px
}

@font-face {
	font-family: Inter;
	src: url(../fonts/Inter-Bold.eot);
	src: url(../fonts/Inter-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter-Bold.woff) format("woff"), url(../fonts/Inter-Bold.ttf) format("truetype"), url(../fonts/Inter-Bold.svg#Inter-Bold) format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Inter;
	src: url(../fonts/Inter-Regular.eot);
	src: url(../fonts/Inter-Regular.eot#iefix) format("embedded-opentype"), url(../fonts/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter-Regular.woff) format("woff"), url(../fonts/Inter-Regular.ttf) format("truetype"), url(../fonts/Inter-Regular.svg#Inter-Regular) format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

body {
	color: var(--color-text);
	font-size: 16px;
	line-height: 1.5;
	font-family: Inter, sans-serif;
	font-weight: 400;
	background: var(--color-black)
}

body.lock {
	overflow: hidden
}

.container {
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	margin: 0 auto;
	max-width: 1060px
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding-bottom: 30px
}

img {
	max-width: 100%
}

h1 {
	margin: 45px 0 30px;
	color: var(--color-text);
	font-size: 24px;
	font-weight: 700;
	line-height: .96
}

h1:first-child {
	margin-top: 0
}

h1:last-child {
	margin-bottom: 0
}

h2 {
	color: var(--color-text);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.04167;
	margin: 42px 0 25px
}

h2:first-child {
	margin-top: 0
}

h2:last-child {
	margin-bottom: 0
}

h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.25;
	margin: 27px 0
}

h3:first-child {
	margin-top: 0
}

h3:last-child {
	margin-bottom: 0
}

p {
	margin: 25px 0
}

p:first-child {
	margin-top: 0
}

p:last-child {
	margin-bottom: 0
}

ol,
ul {
	margin: 25px 0
}

ol:first-child,
ul:first-child {
	margin-top: 0
}

ol:last-child,
ul:last-child {
	margin-bottom: 0
}

li:not(:last-child) {
	margin-bottom: 7px
}

a {
	color: inherit;
	text-decoration: underline
}

a:hover {
	text-decoration: none
}

.header {
	padding: 7px 0 20px
}

.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -10px
}

.header__left {
	padding: 0 10px;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
	width: 100%;
	max-width: 100%
}

.header__right {
	padding: 0 10px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%
}

.header__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -17px
}

.header__btn {
	padding: 0 17px
}

.logo {
	width: 160px;
	display: inline-block
}

.logo img {
	max-width: 100%
}

.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	padding: 5px 30px;
	border-radius: 8px;
	cursor: pointer;
	-webkit-transition: var(--transition-normal);
	-o-transition: var(--transition-normal);
	transition: var(--transition-normal);
	height: 50px;
	background: var(--color-white);
	color: var(--color-black);
	font-size: 18px;
	text-decoration: none
}

.btn.btn-brown {
	color: var(--color-black);
	background: var(--color-brown)
}

.btn.btn-brown:hover {
	background: var(--color-brown-hover)
}

.btn.btn-green {
	background: var(--color-green);
	color: var(--color-white)
}

.btn.btn-green:hover {
	background: var(--color-green-hover)
}

.footer__text {
	color: var(--color-text);
	font-size: 14px;
	line-height: 1.78571;
	padding: 21px 0;
	border-top: 1px solid var(--color-text)
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -14px
}

.col-left {
	padding: 14px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 66.666%;
	max-width: 100%
}

.col-right {
	padding: 14px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 33.333%;
	max-width: 100%
}

h2+.reviews {
	margin-top: 42px
}

.faq__item {
	margin-bottom: 15px;
}

.reviews {
	margin-bottom: 37px
}

.reviews__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 24px;
	-moz-column-gap: 24px;
	column-gap: 24px;
	margin-bottom: 7px
}

.reviews__photo {
	color: var(--color-white);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 50px;
	max-width: 100%;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	background: var(--color-gray)
}

.reviews__photo svg {
	width: 38px;
	height: 38px;
	fill: currentColor
}

.reviews__name {
	color: var(--color-white);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5625
}

.reviews__date {
	color: var(--color-text);
	font-size: 14px;
	line-height: 1.78571
}

.reviews__text {
	margin: 0
}

.table {
	margin: 42px 0;
	font-size: 16px;
	line-height: 130%;
	border: 1px solid var(--color-border)
}

.table:first-child {
	margin-top: 0
}

.table:last-child {
	margin-bottom: 0
}

.table__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.table__item:not(:last-child) {
	border-bottom: 1px solid var(--color-border)
}

.table__left {
	color: inherit;
	border-right: 1px solid var(--color-border);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 37.5%;
	max-width: 100%;
	padding: 6px 15px
}

.table__right {
	color: inherit;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 62.5%;
	max-width: 100%;
	padding: 6px 15px
}

.table-col-4 {
	margin: 42px 0;
	font-size: 16px;
	line-height: 130%;
	overflow: auto;
	padding-bottom: 15px
}

.table-col-4:first-child {
	margin-top: 0
}

.table-col-4:last-child {
	margin-bottom: 0
}

.table-col-4__body {
	min-width: 992px;
	border: 1px solid var(--color-border)
}

.table-col-4__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.table-col-4__item:not(:last-child) {
	border-bottom: 1px solid var(--color-border)
}

.table-col-4__col-1 {
	color: inherit;
	border-right: 1px solid var(--color-border);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 20%;
	max-width: 100%
}

.table-col-4__col-2 {
	color: inherit;
	border-right: 1px solid var(--color-border);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 32.5%;
	max-width: 100%
}

.table-col-4__col-3 {
	color: inherit;
	border-right: 1px solid var(--color-border);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 15%;
	max-width: 100%
}

.table-col-4__col-4 {
	color: inherit;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 32.5%;
	max-width: 100%
}

.table-col-4__title {
	padding: 10px 15px;
	border-bottom: 1px solid var(--color-border);
	height: 100%
}

.table-col-4__text {
	margin: 0 6px;
	padding: 6px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%
}

.table-col-4__text:not(:last-child) {
	border-bottom: 1px solid var(--color-border)
}

.table-col-5 {
	margin: 42px 0;
	font-size: 16px;
	line-height: 130%;
	overflow: auto;
	padding-bottom: 15px
}

.table-col-5:first-child {
	margin-top: 0
}

.table-col-5:last-child {
	margin-bottom: 0
}

.table-col-5__body {
	min-width: 992px;
	border: 1px solid var(--color-border)
}

.table-col-5__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.table-col-5__item:not(:last-child) {
	border-bottom: 1px solid var(--color-border)
}

.table-col-5__col-1 {
	color: inherit;
	border-right: 1px solid var(--color-border);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 20%;
	max-width: 100%
}

.table-col-5__col-2 {
	color: inherit;
	border-right: 1px solid var(--color-border);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 20%;
	max-width: 100%
}

.table-col-5__col-3 {
	color: inherit;
	border-right: 1px solid var(--color-border);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 12.5%;
	max-width: 100%
}

.table-col-5__col-4 {
	color: inherit;
	border-right: 1px solid var(--color-border);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 20%;
	max-width: 100%
}

.table-col-5__col-5 {
	color: inherit;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 27.5%;
	max-width: 100%
}

.table-col-5__title {
	padding: 10px 15px;
	border-bottom: 1px solid var(--color-border);
	height: 100%
}

.table-col-5__text {
	margin: 0 6px;
	padding: 6px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%
}

.table-col-5__text:not(:last-child) {
	border-bottom: 1px solid var(--color-border)
}

.table-inner {
	margin: 42px 0;
	font-size: 15px;
	line-height: 125%;
	border: 1px solid var(--color-border)
}

.table-inner:first-child {
	margin-top: 0
}

.table-inner:last-child {
	margin-bottom: 0
}

.table-inner__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.table-inner__item:not(:last-child) {
	border-bottom: 1px solid var(--color-border)
}

.table-inner__left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 27.5%;
	max-width: 100%;
	border-right: 1px solid var(--color-border);
	color: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 25px
}

.table-inner__right {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 72.5%;
	max-width: 100%;
	color: inherit
}

.table-inner__text {
	padding: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	row-gap: 10px
}

.table-inner__text:not(:last-child) {
	border-bottom: 1px solid var(--color-border)
}

.table-inner__text-right {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
	width: 100%;
	max-width: 100%
}

.table-inner__text-left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 115px;
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.block-images__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -20px -15px;
}

.block-images__col {
	padding: 20px 15px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 33.333%;
	max-width: 100%;
}

.block-images__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	row-gap: 15px;
	text-align: center;
}

.block-images__img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 200px;
	max-width: 100%;
}

.block-images__img img {
	max-width: 100%;
}

.games-block {
	margin: 50px 0;
}

.games-block__top {
	margin-bottom: 31px;
}

.games-block__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-column-gap: 35px;
	-moz-column-gap: 35px;
	column-gap: 35px;
	row-gap: 10px;
}

.games-block__link {
	color: var(--color-text);
	font-size: 19px;
	font-weight: 700;
	line-height: 131.579%;
	text-decoration: none;
	-webkit-transition: var(--transition-normal);
	-o-transition: var(--transition-normal);
	transition: var(--transition-normal);
}

.games-block__link:hover {
	text-decoration: underline;
}

.games-block__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -9px;
}

.games-block__col {
	padding: 9px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 20%;
	max-width: 100%;
}

.games-block__btn {
	margin-top: 37px;
}

.games-block__btn .btn {
	height: 55px;
}

.games-block-item {
	display: block;
	position: relative;
}

.games-block-item:hover .games-block-item__overlay {
	opacity: 1;
	visibility: visible;
}

.games-block-item__img {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 117.2973%;
}

.games-block-item__img img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-o-object-fit: cover;
	object-fit: cover;
}

.games-block-item__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.77);
	padding: 18px 10px 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	row-gap: 10px;
	-webkit-transition: var(--transition-normal);
	-o-transition: var(--transition-normal);
	transition: var(--transition-normal);
	opacity: 0;
	visibility: hidden;
}

.games-block-item__title {
	color: var(--color-white);
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 133%;
}

.games-block-item__btn {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.games-block-item__play {
	border: 3px solid var(--color-white);
	border-radius: 50%;
	width: 63px;
	height: 63px;
	position: relative;
	background: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.games-block-item__play:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.5px 0 13.5px 23px;
	border-color: transparent transparent transparent var(--color-white);
	position: relative;
	left: 4px;
}

.btn.btn-outline-color {
	font-size: 16px;
	font-weight: 700;
	line-height: 156.25%;
	background: transparent;
	color: var(--color-text);
	border: 1px solid var(--color-text);
}

.btn.btn-outline-color:hover {
	background: var(--color-text);
	color: var(--color-black);
}

.jackpot-block {
	margin: 50px 0;
}

.jackpot-block__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -10px;
}

.jackpot-block__col {
	padding: 10px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 20%;
	max-width: 100%;
}

.jackpot-block__item {
	border-radius: 18px;
	border: 1px solid var(--color-text);
	background: transparent;
	padding: 0 25px;
}

.jackpot-block__item-top {
	height: 96px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid rgba(255, 236, 202, 0.3);
}

.jackpot-block__item-top img {
	max-width: 100%;
}

.jackpot-block__item-body {
	padding: 14px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 5px;
	-moz-column-gap: 5px;
	column-gap: 5px;
}

.jackpot-block__item-title {
	color: var(--color-text);
	font-size: 16px;
	font-weight: 700;
	line-height: 156.25%;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
	width: 100%;
	max-width: 100%;
}

.jackpot-block__item-text {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
	text-align: center;
	color: var(--color-text);
	font-size: 16px;
	font-weight: 300;
	line-height: 156.25%;
}

.jackpot-block__item-text span {
	font-weight: 700;
	display: block;
	margin-bottom: -5px;
}

@media (max-width:991.98px) {
	.games-block__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		max-width: 100%;
	}

	.jackpot-block__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
		max-width: 100%;
	}

	.jackpot-block__item {
		padding: 0 15px;
	}

	.table-col-4__col-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 30%;
		max-width: 100%
	}

	.table-col-4__col-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 20%;
		max-width: 100%
	}

	.table-col-4__col-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 30%;
		max-width: 100%
	}
}

@media (max-width:767.98px) {
	.games-block__links {
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}

	.games-block__link {
		font-size: 16px;
	}

	.games-block__row {
		margin: -5px;
	}

	.games-block__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.333%;
		max-width: 100%;
		padding: 5px;
	}

	.jackpot-block__row {
		margin: -5px;
	}

	.jackpot-block__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 33.333%;
		max-width: 100%;
		padding: 5px;
	}

	.jackpot-block__item {
		border-radius: 10px;
	}

	.block-images__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
	}

	.container {
		padding-left: 15px;
		padding-right: 15px
	}

	.header__row {
		margin: 0 -5px
	}

	.header__left {
		padding: 0 5px
	}

	.header__right {
		padding: 0 5px
	}

	.header__button {
		margin: 0 -7.5px
	}

	.header__btn {
		padding: 0 7.5px
	}

	.logo {
		width: 120px
	}

	.btn {
		height: 40px;
		border-radius: 6px;
		padding: 5px 20px;
		font-size: 16px
	}

	.col-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%
	}

	.col-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%
	}

	.table-inner__left {
		padding: 15px
	}

	.table-inner__text {
		padding: 15px
	}
}

@media (max-width:575.98px) {
	.games-block__link {
		font-size: 14px;
	}

	.games-block__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		max-width: 100%;
	}

	.jackpot-block__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 50%;
		max-width: 100%;
	}

	body {
		font-size: 14px
	}

	h1 {
		font-size: 20px;
		margin: 35px 0 25px
	}

	h2 {
		font-size: 18px;
		margin: 35px 0 20px
	}

	h3 {
		font-size: 16px;
		margin: 25px 0
	}

	p {
		margin: 20px 0
	}

	ol,
	ul {
		margin: 20px 0
	}

	li:not(:last-child) {
		margin-bottom: 5px
	}

	.footer__text {
		font-size: 12px
	}

	.table {
		margin: 30px 0;
		font-size: 14px
	}

	.table__item {
		padding: 0 15px
	}

	.table__left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid var(--color-border);
		border-right: none
	}

	.table__right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
		padding: 10px 0
	}

	.table-col-4 {
		margin: 30px 0;
		font-size: 14px
	}

	.table-col-5 {
		margin: 30px 0;
		font-size: 14px
	}

	.table-inner {
		margin: 30px 0;
		font-size: 14px
	}

	.table-inner__item {
		padding: 0 15px
	}

	.table-inner__left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
		padding: 15px 0;
		border-bottom: 1px solid var(--color-border);
		border-right: none
	}

	.table-inner__right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%
	}

	.table-inner__text {
		padding: 15px 0
	}
}

@media (max-width:479.98px) {
	.header__row {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}

	.header__left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 10px
	}

	.header__right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%
	}

	.header__btn {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		width: 100%;
		max-width: 100%
	}
}

@media (max-width:425px) {
	.btn {
		padding: 5px 10px
	}

	.table-inner__text {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}

	.table-inner__text-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%
	}

	.table-inner__text-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%
	}
}

@media (max-width: 399.98px) {
	.games-block__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
	}

	.games-block-item__play {
		width: 100px;
		height: 100px;
	}

	.games-block-item__play:before {
		border-width: 21.5px 0 21.5px 35px;
		left: 5px;
	}

	.jackpot-block__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
	}
}

.error {
	padding: 100px 0;
	text-align: center;
}

.error h1 {
	font-size: 130px;
}

.error p {
	font-size: 20px;
}

/* games */
.games {
	padding: 50px 0;
}

.games__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.games__item {
	position: relative;
	border-radius: 10px;
	padding-bottom: 70%;
	cursor: pointer;
	overflow: hidden;
}

.games__item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.games__hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: 0.3s ease 0s;
}

.games__item:hover .games__hover {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.games__name {
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.games__btn {
	width: 48px;
	height: 48px;
	background: url(../img/play.svg) 50% 100% no-repeat;
}

@media (max-width: 768px) {
	.games__list {
		grid-template-columns: 1fr 1fr;
	}

	.games__name {
		font-size: 14px;
		margin-bottom: 10px;
	}
}

/* games */